.avatar {
    border-radius: 30px;
    height:3vw;
    width:3vw;
}

.col > .row > .order > a {
    margin-top: 55vw !important;
    color:white;
}

.collapse > .w-100 > .row > .col-6 {
    position:absolute;
    margin-left:4vw;
    color:#c5c5c5;
}

.container-fluid > .h-100 > main {
    margin-left:2vw;
    margin-top:8vw;
}

.count-registrations {
    color: white;
    background-color: #ffc107 !important;
}

.count-visitors {
    color: white;
    background-color: #dc3545 !important;
}

.logo-admin {
    border-radius:30px;
    height:auto;
    width:3vw;
}

.name {
    height:3vw;
    margin-bottom:1vw;
    margin-left:-1.5vw;
    margin-top:1vw;
}

.order > div > center > a {
    color:white;
}

.order > p > b {
    font-size:2.5vw;
}

.order {
    background-color: #17a2b8 !important;
    color: white;
}

.row > .col > hr {
    margin-left:-1vw;
    margin-right:-1vw;
}

.row > .order > div {
    background-color:#148ea1;
    border-radius: 0px 0px 6px 6px;
    font-size: 0.9vw;
    height: 2vw;
    margin-left:-0.8vw;
    margin-right:-1vw;
    margin-top:1.4vw !important;
    padding-top:0.45vw;
}

.sep {
    background-color:#9b9a9a;
    margin-left:-2.8vw;
    margin-top:-0.1vw;
}

aside > ul > .cat {
    color:#c5c5c5;
    height:3vw;
    margin-left:-2.5vw;
    margin-top:1vw;
}

aside > ul > .nav-item {
    height:3vw;    
}

aside > ul > li > p {
    margin-top:0.8vw;
    margin-left:2vw;
    color:#c5c5c5
}

main > .line-2 > .col, .col-5{
    margin-top:2vw;
    height:25vw;
}

main > .row > .col, .col-5 {
    background-color:white;
    border-radius:6px;
    padding-top:0.8vw;
    padding-left:0.8vw;
    margin-right:2.2vw;
    box-shadow: 1px 1px 1px 2px #dadada;
    height:10vw;
    width:5vw;
}
